*{
    padding: 0;
    margin: 0;
}

.container_fluid{
    min-height: 1088px;
    margin: auto;
    background-color: #cad3d3;
}

.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
    top: 170px;
}

.container_flex{
    display: flex;
}

.column{
    min-width: 362px;
    &:nth-child(2){
        padding: 0 42px;
    }
}

.column_row1{
    position: relative;
    height: 272px;
    color:white;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.column_row1_price{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    left: 121px;
    top: -20%;
    font-size: 16px;
    color: beige;
    z-index: 1;
    p:first-child{
        font-size: 30px;
        padding-top: 30%;
    }
}

.column_row1_text{
    position: relative;
    font-size: 36px;
    text-align: center;
    top: 40%;
}

.column_row1_mark{
    img{
        position: absolute;
        width: 65px;
        height: 65px;
        top: -30px;
        left: -20px;
    }
    p{
        color: white;
        position: absolute;
        font-size: 12px;
        top: -5px;
        left: 0px;
    }
}

.column_row1_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.column_row2{
    background-color: white;
    text-align: center;
    padding: 1.5em 1em;
}

.column_row2_cnt {
    p:first-child{
        font-size: 24px;
        color: #6a7b88;
    }
    p:last-child{
        color: #dde2e6;
    }
}

.column_row2_list{
    color: #5f727f;
    line-height: 50px;
    font-size: 16px;
    ul{
        list-style-type: none;
        text-align: center;
        li:nth-child(odd){
            background-color: #f4f6f7;      
        }
        li:nth-child(even){
            background-color: white;
        }
    }
}

.column_row3{
    background-color: white;
    padding: 50px 0;
    input{
        margin-left: 100px;
        width: 172px;
        height: 50px;
        font-size: 1.1em;
    }
}

.column_row3_submit_1 input{
    border: 1px #2196f7 solid; 
    background-color: white; 
    color: #2196f7;
}

.column_row3_submit_2 input{
    background-color: #6c136f; 
    color: white; 
    border: 1px #6c136f solid
}

.column_row3_submit_3 input{
    background-color: white;
    border: 1px #5bbd4b solid; 
    color: #5bbd4b
}

.column_row3_submit_1 > input:hover{
    background-color: gainsboro;
}
.column_row3_submit_2 > input:hover{
    background-color: gainsboro;
}

.column_row3_submit_3 > input:hover{
    background-color: gainsboro;
}